
.collapse {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  &-panel {
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    &__header {
      min-height: 40px;
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #eee;
      border-bottom: 1px solid transparent;
      transition: all .2s ease-in-out;
    }
    &__title {
      flex: 1;
    }
    &__arrow {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      transition: transform .2s ease-in-out;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &__content {
      padding: 10px;
    }
    &--active {
      .collapse-panel__header {
        border-bottom: 1px solid #ccc;
      }
      .collapse-panel__arrow {
        transform: rotate(180deg);
      }
    }
  }
}
